<%- include('../../partials/header') %>
    <%- include('../../partials/navbar-menu') %>


        <body>
            <div class="container text-dark">
                <div class="h2 text-dark">Grupos</div>
                <a href="/admin/grupo/novo" class="btn btn-success btn-sm">Criar Grupo</a>
                <hr>
                <div class="grupos">
                    <% grupos.forEach(grupo => { %>
                        <div class="grupo mb-3">
                            <h5 class="text-dark d-inline-block mr-3">
                                <%= grupo.nome %>
                            </h5>
                            <a href="/admin/grupo/inicio/<%= grupo.id_grupo %>" class="btn btn-primary btn-sm">Entrar</a>
                        </div>
                        <% }) %>
                            <hr>
                </div>
                <br>
            </div>
            </div>
        </body>

        <%- include('../../partials/footer') %>