<%- include('../../partials/header') %>
    <%- include('../../partials/navbar-menu') %>

        <body>
            <div class="container text-dark">
                <div class="h2 text-dark">Usuarios</div>
                <br>
                <% usuarios.forEach(usuario => { %>
                    <div class="usuarios">
                        <h5 class="text-dark">
                            <%= usuario.nome %>
                                <%= usuario.sobrenome %>
                        </h5>
                        <hr>
                        <% if(usuario.id_usuario != id_usuario_logado ) { %>
                            <a href="/admin/mensagem/mensagem/<%= id_usuario_logado %>/<%= usuario.id_usuario %>/usuario" class="btn btn-success btn-sm">Enviar Mensagem</a>
                            <% }else { %>
                                <span class="text-muted">(usuario logado)</span>

                                <% } %>
                    </div>
                    <br>
                    <% }) %>
            </div>
            </div>
        </body>

        <%- include('../../partials/footer') %>